## Preprocessing

# New Section

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf


#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

feature_columns = application_df.drop(["EIN", "NAME"], axis=1)
feature_columns. head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_counts = feature_columns.nunique()
unique_counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = feature_columns['APPLICATION_TYPE'].value_counts()
print(application_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 100
application_types_to_replace = application_counts[application_counts < cutoff].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_greater_than_1 = classification_counts[classification_counts > 1]
print(classification_counts_greater_than_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 10
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_columns = ['CLASSIFICATION','APPLICATION_TYPE', 'AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'SPECIAL_CONSIDERATIONS', 'INCOME_AMT', 'STATUS']

encoded_data = pd.get_dummies(feature_columns, columns=categorical_columns)

encoded_data. head()

,ASK_AMT,IS_SUCCESSFUL,CLASSIFICATION_C0,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C1230,CLASSIFICATION_C1234,CLASSIFICATION_C1235,CLASSIFICATION_C1236,CLASSIFICATION_C1237,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,STATUS_0,STATUS_1
0,5000,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,108590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,6692,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,142590,1,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [10]:
# Split our preprocessed data into our features and target arrays

X = encoded_data.drop('IS_SUCCESSFUL', axis=1)
y = encoded_data['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)


# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=117))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                9440

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 11,901
Trainable params: 11,901
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Encode the target labels
y_train_encoded = label_encoder.fit_transform(y_train)
y_test_encoded = label_encoder.fit_transform(y_test)
# Train the model
fit_model = nn.fit(X_train_scaled, y_train_encoded, epochs=100)

Epoch 1/100
858/858 [==============================] - 3s 2ms/step - loss: 0.5705 - accuracy: 0.7221
Epoch 2/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7304
Epoch 3/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5488 - accuracy: 0.7324
Epoch 4/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7333
Epoch 5/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5446 - accuracy: 0.7341
Epoch 6/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7333
Epoch 7/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7353
Epoch 8/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7340
Epoch 9/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7353
Epoch 10/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7340
Epoch 11/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7355
Epoch 12/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7357
Epoch 13/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7361
Epoch 14/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7367
Epoch 15/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7371
Epoch 16/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7377
Epoch 17/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7367
Epoch 18/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7379
Epoch 19/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7373
Epoch 20/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7383
Epoch 21/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7378
Epoch 22/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7377
Epoch 23/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7389
Epoch 24/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7400
Epoch 25/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7391
Epoch 26/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7392
Epoch 27/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7392
Epoch 28/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7387
Epoch 29/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7392
Epoch 30/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7382
Epoch 31/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7407
Epoch 32/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7406
Epoch 33/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7397
Epoch 34/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7402
Epoch 35/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7402
Epoch 36/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7399
Epoch 37/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7406
Epoch 38/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7394
Epoch 39/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7400
Epoch 40/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7408
Epoch 41/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7401
Epoch 42/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7395
Epoch 43/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7407
Epoch 44/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7398
Epoch 45/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7404
Epoch 46/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7402
Epoch 47/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7404
Epoch 48/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7415
Epoch 49/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7411
Epoch 50/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7405
Epoch 51/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7406
Epoch 52/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7414
Epoch 53/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7403
Epoch 54/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7407
Epoch 55/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7415
Epoch 56/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7411
Epoch 57/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5310 - accuracy: 0.7400
Epoch 58/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5311 - accuracy: 0.7409
Epoch 59/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7416
Epoch 60/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7410
Epoch 61/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7405
Epoch 62/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7412
Epoch 63/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7409
Epoch 64/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7413
Epoch 65/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5305 - accuracy: 0.7404
Epoch 66/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5305 - accuracy: 0.7420
Epoch 67/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5298 - accuracy: 0.7415
Epoch 68/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5299 - accuracy: 0.7410
Epoch 69/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5299 - accuracy: 0.7423
Epoch 70/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5301 - accuracy: 0.7412
Epoch 71/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7426
Epoch 72/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5298 - accuracy: 0.7419
Epoch 73/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5299 - accuracy: 0.7416
Epoch 74/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5301 - accuracy: 0.7421
Epoch 75/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5297 - accuracy: 0.7416
Epoch 76/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5293 - accuracy: 0.7416
Epoch 77/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5292 - accuracy: 0.7423
Epoch 78/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7414
Epoch 79/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5292 - accuracy: 0.7416
Epoch 80/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7412
Epoch 81/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5295 - accuracy: 0.7420
Epoch 82/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7423
Epoch 83/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7421
Epoch 84/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5291 - accuracy: 0.7421
Epoch 85/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7418
Epoch 86/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7424
Epoch 87/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5289 - accuracy: 0.7421
Epoch 88/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5298 - accuracy: 0.7423
Epoch 89/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5289 - accuracy: 0.7423
Epoch 90/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5288 - accuracy: 0.7417
Epoch 91/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5285 - accuracy: 0.7423
Epoch 92/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5283 - accuracy: 0.7427
Epoch 93/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5283 - accuracy: 0.7424
Epoch 94/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7427
Epoch 95/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7423
Epoch 96/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5283 - accuracy: 0.7423
Epoch 97/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7427
Epoch 98/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5285 - accuracy: 0.7426
Epoch 99/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5282 - accuracy: 0.7421
Epoch 100/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5286 - accuracy: 0.7420

In [15]:
# Evaluate the model using the test data
# Convert string target values to float

model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5617 - accuracy: 0.7270 - 394ms/epoch - 2ms/step
Loss: 0.5617018342018127, Accuracy: 0.7269679307937622

In [16]:
# Export our model to HDF5 file
fit_model.model.save("AlphabetSoupCharity.h5")

In [ ]:
from google.colab import files

files.download("AlphabetSoupCharity.h5")