## Preprocessing

# New Section

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf


#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv",nrows=10000)
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN', SPECIAL_CONSIDERATIONS

feature_columns = application_df.drop([ "EIN", "SPECIAL_CONSIDERATIONS"], axis=1)
feature_columns. head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,142590,1

In [5]:
# Determine the number of unique values in each column.
unique_counts = feature_columns.nunique()
unique_counts

NAME                6214
APPLICATION_TYPE      13
AFFILIATION            5
CLASSIFICATION        40
USE_CASE               5
ORGANIZATION           4
STATUS                 2
INCOME_AMT             9
ASK_AMT             2543
IS_SUCCESSFUL          2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = feature_columns['NAME'].value_counts()
print(application_counts)

UNITED STATES BOWLING CONGRESS INC                    416
ALPHA PHI SIGMA                                       253
WASHINGTON STATE UNIVERSITY                           158
TOASTMASTERS INTERNATIONAL                            148
PTA TEXAS CONGRESS                                    134
                                                     ...
HEY GIRLFRIEND NETWORK                                  1
WELCOME HOME PROJECT                                    1
LANDER COUNTY SHERIFF SEARCH & RESCUE                   1
FORESTRY MANAGEMENT INC                                 1
SOUTHERN CALIFORNIA AND NEVADA CYCLING ASSOCIATION      1
Name: NAME, Length: 6214, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 1000
application_types_to_replace = application_counts[application_counts < cutoff].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other    10000
Name: NAME, dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = feature_columns['APPLICATION_TYPE'].value_counts()
print(application_counts)

T3     7780
T4      408
T6      391
T8      388
T19     273
T10     266
T7      238
T5      176
T9       47
T13      19
T12       7
T2        6
T29       1
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 1200
application_types_to_replace = application_counts[application_counts < cutoff].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       7780
Other    2220
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    5421
C2000    1862
C1200    1366
C3000     391
C2100     291
C7000     231
C1700     107
C4000      66
C5000      44
C2700      34
C7100      29
C1270      23
C2800      21
C7200      16
C1240      12
C2300      12
C1300       9
C7120       7
C1800       6
C1400       6
C8200       5
C1500       5
C1230       5
C7210       4
C1280       3
C6000       3
C8000       3
C1250       2
C1260       2
C2710       2
C4100       2
C1238       2
C2561       1
C1245       1
C1235       1
C1720       1
C1257       1
C4500       1
C2400       1
C8210       1
Name: CLASSIFICATION, dtype: int64

In [12]:
cutoff = 100
application_types_to_replace = classification_counts[classification_counts < cutoff].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(app,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    5421
C2000    1862
C1200    1366
C3000     391
Other     331
C2100     291
C7000     231
C1700     107
Name: CLASSIFICATION, dtype: int64

In [13]:
feature_columns

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,142590,1
...,...,...,...,...,...,...,...,...,...,...
9995,FASTFRIENDS GREYHOUND ADOPTION OF CALIFORNIA INC,T3,Independent,C4000,Preservation,Trust,1,100000-499999,80168,1
9996,COMMUNITY DEVELOPMENT PROJECTS INC,T3,Independent,C1000,Preservation,Trust,1,100000-499999,55173,1
9997,FOUNDATION FOR DANCE EDUCATION,T3,Independent,C1000,Preservation,Trust,1,100000-499999,187189,0
9998,AMERICAN INSTITUTE OF GRAPHIC ARTS,T3,CompanySponsored,C2000,Preservation,Trust,1,25000-99999,12311,1
9999,SOUTHERN CALIFORNIA AND NEVADA CYCLING ASSOCIA...,T4,Independent,C3000,ProductDev,Trust,1,25000-99999,53143,1

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_col =  feature_columns.dtypes[feature_columns.dtypes=='object'].index

encoded_data = pd.get_dummies(feature_columns, columns=dummy_col)

encoded_data. head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_14TH ARMORED DIVISION,NAME_1930S GENERAL STORE MUSEUM,NAME_1963 GIBBS ALUMNI INC,NAME_2 B NON PROFIT CORPORATION,NAME_2041 FOUNDATION INCORPORATED,NAME_21ST CENTURY HARVEST FOUNDATION,NAME_21ST STREET FOUNDATION,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [15]:
# Split our preprocessed data into our features and target arrays

X = encoded_data.drop('IS_SUCCESSFUL', axis=1)
y = encoded_data['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)


# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
num_features = len(X_train.columns)

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=num_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                503440

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 505,901
Trainable params: 505,901
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Encode the target labels
y_train_encoded = label_encoder.fit_transform(y_train)
y_test_encoded = label_encoder.fit_transform(y_test)
# Train the model
fit_model = nn.fit(X_train_scaled, y_train_encoded, epochs=20)

Epoch 1/20
250/250 [==============================] - 3s 8ms/step - loss: 0.5566 - accuracy: 0.7230
Epoch 2/20
250/250 [==============================] - 2s 10ms/step - loss: 0.1387 - accuracy: 0.9549
Epoch 3/20
250/250 [==============================] - 2s 8ms/step - loss: 0.0794 - accuracy: 0.9669
Epoch 4/20
250/250 [==============================] - 2s 8ms/step - loss: 0.0744 - accuracy: 0.9685
Epoch 5/20
250/250 [==============================] - 2s 10ms/step - loss: 0.0722 - accuracy: 0.9680
Epoch 6/20
250/250 [==============================] - 2s 9ms/step - loss: 0.0700 - accuracy: 0.9690
Epoch 7/20
250/250 [==============================] - 2s 8ms/step - loss: 0.0686 - accuracy: 0.9693
Epoch 8/20
250/250 [==============================] - 2s 8ms/step - loss: 0.0682 - accuracy: 0.9682
Epoch 9/20
250/250 [==============================] - 2s 8ms/step - loss: 0.0676 - accuracy: 0.9696
Epoch 10/20
250/250 [==============================] - 2s 8ms/step - loss: 0.0653 - accuracy: 0.9701
Epoch 11/20
250/250 [==============================] - 2s 9ms/step - loss: 0.0662 - accuracy: 0.9705
Epoch 12/20
250/250 [==============================] - 3s 10ms/step - loss: 0.0652 - accuracy: 0.9694
Epoch 13/20
250/250 [==============================] - 2s 8ms/step - loss: 0.0653 - accuracy: 0.9686
Epoch 14/20
250/250 [==============================] - 2s 8ms/step - loss: 0.0633 - accuracy: 0.9693
Epoch 15/20
250/250 [==============================] - 2s 8ms/step - loss: 0.0633 - accuracy: 0.9712
Epoch 16/20
250/250 [==============================] - 2s 8ms/step - loss: 0.0633 - accuracy: 0.9707
Epoch 17/20
250/250 [==============================] - 2s 8ms/step - loss: 0.0625 - accuracy: 0.9710
Epoch 18/20
250/250 [==============================] - 3s 13ms/step - loss: 0.0625 - accuracy: 0.9704
Epoch 19/20
250/250 [==============================] - 3s 14ms/step - loss: 0.0615 - accuracy: 0.9699
Epoch 20/20
250/250 [==============================] - 4s 15ms/step - loss: 0.0615 - accuracy: 0.9715

In [21]:
# Evaluate the model using the test data
# Convert string target values to float

model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

63/63 - 1s - loss: 0.4905 - accuracy: 0.7575 - 1s/epoch - 18ms/step
Loss: 0.4904613196849823, Accuracy: 0.7574999928474426

In [41]:
# Export our model to HDF5 file
fit_model.model.save("AlphabetSoupCharity_Optimazation.h5")

In [ ]:
from google.colab import files

files.download("AlphabetSoupCharity_Optimazation.h5")